<div class="demo-container">

  <div class="readonly-column">
    <h1>Readonly</h1>

    <h2>Any number prefilled</h2>
    <ngx-stars [readonly]="true" [size]="2" [initialStars]="0"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="2" [initialStars]="2.5"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="2" [initialStars]="5"></ngx-stars>

    <h2>Any number of stars</h2>
    <ngx-stars [readonly]="true" [size]="2" [maxStars]="3" [initialStars]="1.5"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="2" [maxStars]="8" [initialStars]="2.5"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="2" [maxStars]="10" [initialStars]="8"></ngx-stars>

    <h2>Size between 1 and 5</h2>
    <ngx-stars [readonly]="true" [size]="1" [initialStars]="1"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="2" [initialStars]="2"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="3" [initialStars]="3"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="4" [initialStars]="4"></ngx-stars>
    <ngx-stars [readonly]="true" [size]="5" [initialStars]="5"></ngx-stars>

    <h2>All the colours of the rainbow</h2>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="calc(100% / 3);">
        <ngx-stars [readonly]="true" [color]="'darkorange'" [size]="2" [initialStars]="1.5"></ngx-stars>
        <ngx-stars [readonly]="true" [color]="'gold'" [size]="2" [initialStars]="3"></ngx-stars>
        <ngx-stars [readonly]="true" [color]="'mediumseagreen'" [size]="2" [initialStars]="4.5"></ngx-stars>
      </div>
      <div style="calc(100% / 3);">
        <ngx-stars [readonly]="true" [color]="'dodgerblue'" [size]="2" [initialStars]="1.5"></ngx-stars>
        <ngx-stars [readonly]="true" [color]="'indigo'" [size]="2" [initialStars]="3"></ngx-stars>
        <ngx-stars [readonly]="true" [color]="'darkviolet'" [size]="2" [initialStars]="4.5"></ngx-stars>
      </div>
      <div style="calc(100% / 3);">
        <ngx-stars [readonly]="true" [color]="'white'" [size]="2" [initialStars]="1.5"></ngx-stars>
        <ngx-stars [readonly]="true" [color]="'grey'" [size]="2" [initialStars]="3"></ngx-stars>
        <ngx-stars [readonly]="true" [color]="'black'" [size]="2" [initialStars]="4.5"></ngx-stars>
      </div>
    </div>
  </div>

  <div class="editable-column">
    <h1>Editable</h1>

    <h2>Hover to fill and unfill; click to set</h2>
    <ngx-stars [readonly]="false" [size]="4"></ngx-stars>

    <h2>Set and reset unlimited times</h2>
    <ngx-stars [readonly]="false" [size]="4" [maxStars]="8"></ngx-stars>

    <h2>Prefill stars e.g. to edit an existing score</h2>
    <ngx-stars [readonly]="false" [size]="4" [initialStars]="3.5"></ngx-stars>

    <h2>Receive a set event from another component</h2>
    <div style="display: flex; align-items: center;">
      <ngx-stars style="width: 65%;" [readonly]="false" [size]="4" [maxStars]="5" (ratingOutput)="onRatingSet($event)"></ngx-stars>
      <span style="width: 35%; font-weight: bold; font-size: 20px">Rating is {{ ratingExample }} out of 5</span>
    </div>

    <h2>Animate at any speed until first user interaction</h2>
    <div style="display: flex; align-items: center;">
      <ngx-stars style="width: 75%;" [readonly]="false" [size]="4" [maxStars]="6" [animation]="true" [animationSpeed]="20"></ngx-stars>
      <span style="width: 25%; font-weight: bold; font-size: 20px">20ms</span>
    </div>
    <div style="display: flex; align-items: center;">
      <ngx-stars style="width: 75%;" [readonly]="false" [size]="4" [maxStars]="6" [animation]="true" [animationSpeed]="100"></ngx-stars>
      <span style="width: 25%; font-weight: bold; font-size: 20px">100ms</span>
    </div>
    <div style="display: flex; align-items: center;">
      <ngx-stars style="width: 75%;" [readonly]="false" [size]="4" [maxStars]="6" [animation]="true" [animationSpeed]="500"></ngx-stars>
      <span style="width: 25%; font-weight: bold; font-size: 20px">500ms</span>
    </div>
  </div>

</div>
